<div class="card">
  <div class="card-header">
    New Book
  </div>
  <div class="card-body">
    <%= render 'form', book: @book %>
  </div>
  <div class="card-footer">
    <%= link_to 'Back', books_path %>
  </div>
</div>